/*
 * =================================================================== 
 *
 *  PHD Main Stylesheet
 *  url: golden.com
 *  6-3-2019
 * -------------------------------------------------------------------
 *
 *  TOC:   
 * 1-01. webfonts and iconfonts 
 * 1-02. base style overrides
 * 1-03. common styles

 **** Home *****
 1- cover
 2- about_partition

*** favourite ****
**** gold_stadiums ***


 /** 
 * ===================================================================
 * webfonts and iconfonts 
 *
 * ------------------------------------------------------------------- 
 */
 @font-face {
  font-family: 'FontAwesome';
  src: url('https://use.fontawesome.com/releases/v5.3.1/css/all.css'); 
 }
 @import url('https://fonts.googleapis.com/css?family=Cairo:400,600,700&subset=arabic');
  html {
  height: 100%;
}
body {
  font-family: 'Cairo', sans-serif;
  height: 100%;

   direction: rtl;
    font-size: 15px;
    color: #777;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
@media only screen and (max-width:1024px) {
  html {
    font-size: 9.375px;

  }
}
@media only screen and (max-width:768px) {
  html {
    font-size: 10px;

  }
  h3
  {
    font-size: 25px;
  }
}
@media only screen and (max-width:400px) {
  html {
    font-size: 9.375px;
  }
}
 
/*
*-
* common styles
*
*/
.m-t-em-7
{
  margin-top: 7em
}
.m-t-em-3
{
  margin-top: 3em
}
.m-t-em-2
{
  margin-top: 2em
}
.m-t-em-1
{
  margin-top: 1em
}
.m-b-em-3
{
  margin-bottom: 3em
}
.m-b-em-2
{
  margin-bottom: 2em
}
.m-b-em-1
{
  margin-bottom: 1em
}
.m-t-20
{
  margin-top: 20px;
}
.m-b-20
{
  margin-bottom: 20px
}
.m-t-15
{
  margin-top: 15px;
}
.m-t-10
{
  margin-top: 10px;
}
.m-b-10
{
  margin-bottom: 10px;
}
.m-b-5
{
  margin-bottom: 5px;
}
.m-t-5
{
  margin-top: 5px;
}

.padding-main
{
  padding: 3em 0;
}
.font-bold
{
font-weight: bold
}
/*color*/
.main-color
{
    color: #d8b80b;
}
.secound-color
{
  color: #19a8cb;
}  
.yellow-color
{
  color: #e0db1b;
}
.background-main
{
  /*background-color: rgba(0, 131, 255, 0.02);*/
  background: #ede9e8;
}
.white-color
{
  color: #fff;
}
.bg-white
{
   background-color: #fff;
}
.black-color
{
   color: #000;
}
.section-title
{
  margin-bottom: 4em
}
/*border*/
.main_border
{
  border:1px solid #DFDFDF;
      border-radius: 15px;
}
.layer
{
  background:  #101010d9;
}
/* Links */
a {
    
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: 0;
}

/*
*
* common Style
*/
.btn-primary
{
      background-color: #d8b80b;
          border-color: #d8b80b;
    color: #fff;
    transition: all 0.4s;
    padding: 10px 34px;
    border-radius: 0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary.active:focus {
       box-shadow: 0 7px 20px 5px rgba(50, 63, 14, 0.3);
          background-color: #d8b80b;
                    border-color: #d8b80b;
    outline: none !important;
    
    transition: all 0.3s;
}
.btn-line
{
      background-color: transparent;
          border-color: #d8b80b;
    color: #d8b80b;
    transition: all 0.4s;
        padding: 6px 34px;
}

.btn-line:hover, .btn-line:focus, .btn-line:active, .btn-line.active, .open .dropdown-toggle.btn-btn-line, .btn-line:active:focus, .btn-line:active:hover, .btn-line.active:hover, .btn-line.active:focus {
       box-shadow: 0 7px 20px 5px rgba(50, 63, 14, 0.3);
         outline: none;
    
     background-color: #d8b80b;
          border-color: #d8b80b;
    color: #fff;
   
    transition: all 0.3s;
}
.btn-rounded {
  border-radius: 50px;
}
.title , .title2 , .title3,  .title5
{
  font-weight: bold;
  font-size: 2em;
}
.title
{
  margin-bottom: 1em
}
.title3:after {
  content: ' ';
  display: block;
  width: auto;
  height: 37px;
  margin: .3em;
  background-image: url("../img/line.png");
  background-repeat: no-repeat;
  background-position: center top;
}
.title2:after {
  content: ' ';
  display: block;
  width: auto;
  height: 37px;
  margin: .0.2em;
  background-image: url("../img/line.png");
  background-repeat: no-repeat;
  background-position: right;
}
.title4:after {
  content: ' ';
  display: block;
  width: auto;
  height: 37px;
  margin: .3em;
  background-image: url("../img/line-1.png");
  background-repeat: no-repeat;
  background-position: right;
}
.title5:after {
  content: ' ';
  display: block;
  width: auto;
  height: 37px;
  margin: .3em;
  background-image: url("../img/line-1.png");
  background-repeat: no-repeat;
  background-position: center;
}
.title2 .part_title, .title3 .part_title
{
  font-size: 0.8em;
  font-weight: 600;
}



header .navbar-default {
  background: #fff;
  border: none;
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 0;
  
}
header .navbar-default {
  /*background: #fff;*/

  
}
header .navbar-default ul.navbar-nav {
  padding: 20px 0;
}
header .navbar-default ul.navbar-nav li a {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 16px;
  padding: 7px 17px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default ul.navbar-nav li a:after {
  content: '';
  width: 32px;
  background: none;
  height: 4px;
  position: absolute;
  bottom: 2px;
  z-index: 99999;
  left: 20px;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
  color: #ffffff;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default ul.navbar-nav li a:hover {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default ul.navbar-nav li a:hover:after {
  background: transparent;
}
header .navbar-default ul.navbar-nav li a.getApp {
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default ul.navbar-nav li a.getApp:hover, header .navbar-default ul.navbar-nav li a.getApp:focus, header .navbar-default ul.navbar-nav li a.getApp:focus
{
  background: #d8b80b;
}
header .navbar-default ul.navbar-nav li a.getApp:after {
  display: none;
}
header .navbar-default ul.navbar-nav li a:focus {
  color: #ffffff;
}
header .navbar-default .navbar-brand {
  height: auto;
  padding: 0;
}
header .navbar-default.scrolled {
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
/*header .navbar-default.scrolled .navbar-brand {
  padding: 15px 20px;
}*/
header .navbar-default.scrolled .navbar-brand img {
  /*width: auto;*/
      max-height: 73px;
}
header .navbar-default.scrolled ul.navbar-nav {
/*  padding-top: 15px;*/
}
.navbar-brand img
{
      padding: 8px 5px;
    max-height: 69px;
}

/* Common style for pseudo-elements */
section::before,
section::after {
  position: absolute;
  content: '';
  pointer-events: none;
  overflow: hidden;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.tp-caption {
  font-family: 'Changa', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.tp-caption.large_white_bold {
  color: #ffffff;
  font-size: 65px;
  font-weight: 400;
}
.tp-caption.large_white_light {
  color: #ffffff;
  font-size: 65px;
  font-weight: 400;
  font-weight: 300;
}

.navbar-fixed-top .navbar-collapse
{
  max-height: none;
}
@media screen and (max-width: 640px) {
  .logo {
    width: 100px;
    height: auto;
  }
  .slick-next {
    right: 0;
  }
  .slick-prev {
    left: 0;
  }
  .contact-details {
    margin-top: 20px;
  }
  header .navbar-default {
    padding: 20px;
  }
  header .navbar-default .navbar-toggle {
    margin-top: 0px;
    margin-right: 0px;
    background: none;
    border: 2px solid #d8b80b;
    color: #d8b80b;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
    border-radius: 5em;
  }
  header .navbar-default .navbar-toggle:hover,
  header .navbar-default .navbar-toggle:focus {
    background: none;
  }
  header .navbar-default ul.navbar-nav {
    padding-top: 0;
    margin: 0;
  }
  header .navbar-default ul.navbar-nav li a {
    padding: 10px;
    text-align: center;
  }
  header .navbar-default ul.navbar-nav li a.getApp {
    background: none !important;
    -webkit-border-radius: 0em;
    -moz-border-radius: 0em;
    -ms-border-radius: 0em;
    -o-border-radius: 0em;
    border-radius: 0em;
  }
  header .navbar-default .navbar-collapse {
    border-color: transparent;
  }
  header .navbar-default.scrolled .navbar-collapse {
    border-color: transparent;
  }
  header .navbar-default.scrolled ul.navbar-nav {
    padding-top: 0;
    margin: 0;
  }
  header .navbar-default.scrolled .navbar-toggle {
    margin-top: 11px;
    margin-right: 20px;
    background: none;
    border: 2px solid #d8b80b;
    color: #d8b80b;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
    border-radius: 5em;
  }
}


header .navbar-default ul.navbar-nav li a {
  color: #5a5858;
  font-weight: bold;
  background: none;
  cursor: pointer;
}
header .navbar-default ul.navbar-nav li a.getApp {
  color: #fff !important;
  background: #d8b80b;
 
}
/**/
header .navbar-default ul.navbar-nav li a:hover
 {
  color: #d8b80b;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

header .navbar-default ul.navbar-nav li a:active
 {
  color: #d8b80b;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

header .navbar-default ul.navbar-nav li a:foucs
 {
  color: #d8b80b;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default.scrolled {
  border-bottom: 1px solid #f4f9ff
}
header .navbar-default.scrolled ul.navbar-nav li a {
  color: #010101;
}
header .navbar-default.scrolled ul.navbar-nav li a:hover {
  color: #d8b80b;
}
.count-info .label {
  line-height: 12px;
  padding: 2px 5px;
  position: absolute;
  right: 13px;
  top: 0px;
}
.nav > li > a i {
  margin-right: 6px;
}
.label-primary, .badge-primary {
  background-color: #1ab394;
  color: #FFFFFF;
}
.label-warning, .badge-warning {
  background-color: #f8ac59;
  color: #FFFFFF;
}
/*header .navbar-default.scrolled ul.navbar-nav li a:hover:after {
  background: #336799;
}*/
/*header .navbar-default.scrolled .navbar-brand {
  background: #336799;
}*/
.navbar-toggle {
  background-color: #CCC;
  border: 1px solid rgba(0, 0, 0, 0);
}

@media screen and (max-width: 640px) {
  header .navbar-default .navbar-toggle:hover,
  header .navbar-default .navbar-toggle:focus {
    background: none;
  }
  header .navbar-default ul.navbar-nav li a {
    color: #ffffff;
    border-bottom: 1px solid #376fa4;
  }
  header .navbar-default ul.navbar-nav li a.getApp {
    color: #ffffff;
  }

  header .navbar-default ul.navbar-nav li a:after {
    display: none;
  }
  header .navbar-default ul.navbar-nav li a:hover {
    color: #66cdcc;
  }
  header .navbar-default .navbar-collapse {
    background: #336799;
  }
  header .navbar-default.scrolled {
    background: #fff;
  }
  header .navbar-default.scrolled ul.navbar-nav li a {
    color: #fff;
  }
  header .navbar-default.scrolled ul.navbar-nav li a:hover {
    color: #d8b80b;
  }
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #d8b80b;
     background-color: transparent; 
}
.navbar-default.scrolled .navbar-nav>.active>a, .navbar-default.scrolled .navbar-nav>.active>a:focus, .navbar-default.scrolled .navbar-nav>.active>a:hover {
    color: #d8b80b;
    background-color: transparent;
}
.dropdown .dropdown-menu li a
{
  padding: 3px 17px !important
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 19px;
}
.dropdown-menu
{
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
          border: 1px solid rgba(169, 163, 163, 0.15);
}
@media (max-width: 767px)
{
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #f7f5f5;
 }
 .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: #d8b80b;
  background-color: transparent;
}
.count-info .label {
  
  
  right: auto;
 
}
}
#banner-static { 
    padding-top: 17em;
    padding-bottom: 12em;
}
#banner-static .title { 
  
    font-weight: bolder;

}


.second_nav 
{
  margin-top: 55px;

}
.frist-nav .social a
{
  font-size: 30px;
  color: #000;
  padding: 10px 6px;
}
.frist-nav .social a:hover
{
  
  color: #fff;
 
}
.socialShowXS li 
{
  display: inline-block;
}
.frist-nav  .nav>li>a:focus, .frist-nav  .nav>li>a:hover {
  
  background-color: transparent;
}
.left-side li
{
  list-style: none;
}
.left-side
{
  padding: 1em
}
.left-side li {
  list-style: none;
  display: inline-block;
  padding: 0 1em;
  border-left: 2px solid #000100;
}
.left-side li:last-child
{
  border-left: none
}
.left-side li a
{
  color: #000100;
  cursor: pointer;
}
.left-side li a:hover
{
  color: #fff;
}
@media only screen and (max-width:768px) {
  #banner-static {
    padding-top: 8em;
  
    padding-bottom: 8em;
  }
  #banner-static h2
  {
    font-size: 1.3em;
  }
  .second_nav 
{
  margin-top: 0
}
}

.form-control {
  
  height: 44px;
 
  font-size: 14px;
 
  color: #fff;
  background-color: #11130ec2;

  border: 1px solid #ccc0;
  border-radius: 8px;
 
}
.input-group-addon:last-child
{
      border-left-style: none; 
}
.input-group-addon
{
  color: #fff;
  background-color: #11130ec2;

  border: 1px solid #ccc0;
  }

/*
*
*about_partition
*
*/
#about_partition .block
{
  background: #d8b80b;
    margin-top: -4em;
    padding: 2em 0 0 0;
}
#about_partition  .item a
 {
color: #232220;
 }
 #about_partition  .item .item_img
 {
  font-size: 3em;
 }
 #about_partition  .item .item_title
 {
  font-size: 1.5em;
 }
 #about_partition .item
 {
   border-left: 1px solid #232220
 }
 #about_partition .col-md-2:last-child
 {
   border-left: none
 }
 #about_partition .section-content
  {
    line-height: 1.8;
  }
  #about_partition .block_img  img
  {
    max-height: 20em;
    min-height: 20em;
    width: 100%;
  }
/*
*
*
* statistics
*/
#statistics .item 
  {
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    margin-top: 1em;
  }
  #statistics .item .item_img img
  {
    padding: .2em;
    max-height: 3em;
  }
  #statistics .col-md-4
  {
    border-left: 1px solid #fff
  }
  #statistics .col-md-4:last-child
  {
    border-left: none
  }
/*
*
*
* Discounts
*/
#Discounts .item_content h3 
  {
    font-size: 1.5em;
    line-height: 1.5;
    color: #f3f0f0;
  }

    /*
*
*
* best playground
*/

#Latest_offers  .item
{
margin: 1em;
background: #ede9e8; 
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#Latest_offers .post .post-meta {
  margin-top: 15px;
  margin-bottom: 15px;
}
#Latest_offers .post-title
{
  
  max-height: 1.3em;
  overflow: hidden;

}
#Latest_offers  img
{
  min-height: 13em;
  max-height: 13em;
  width: 100%
}
#Latest_offers  .post-body
{
  padding: 0 1em 1em; 
  direction: rtl;
  border-bottom: 2px solid #d8b80b;
}
#Latest_offers  .post-body i
{
padding: .5em;
color: #232220
}
#Latest_offers  .post-body .Subtitle
{
  color: #777;
  font-weight: 600;
}


.owl-theme .owl-controls .owl-page span
{
  background: #d8b80b
}

.owl-carousel {
    direction: ltr;
}
/*
*
* news 
*
*/
#Latest_offers  #owl-news .post-body
{
  overflow: hidden;
  max-height: 8em;
}
#Latest_offers #owl-news .post-body {
  background: #fff;
}
#Latest_offers #owl-news .post-body .content {
  font-size: .8em;
}
.post-title 
{
  max-height: 1.4em;
  overflow: hidden;
}
.right_sec .post-img img
{
  max-height: 10em;
    width: 100%;
    min-height: 10em;
}
/*
*
* Special_facilities 
*
*/
#Special_facilities  .item {
  background: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#Special_facilities .block  .post-body
{
  padding: 0 1em 1em; 
  direction: rtl;
  border-bottom: 2px solid #d8b80b;
}
#Special_facilities  .post-body .Subtitle
{
  color: #777;
  font-weight: 600;
}
#Special_facilities  .left-side .item
{
  border-left: 2px solid #777;
  margin-top: 1em
}
#Special_facilities  .post-body .post-title
{
  max-height: 1.2em;
  overflow: hidden; 
}
#Special_facilities  .left-side .item .post-img img
{
  max-height: 9em;
    min-width: 100%;
}
#Special_facilities  .block .post img
{
  max-height: 18em;
  min-height: 18em;
  width: 100%
}
@media only screen and (max-width:768px) {
  #Special_facilities  .left-side .item
  {
    border-left: none
  }
  #Special_facilities  .left-side .post-body 
  {
    padding: 0 1em 1em;
  }
  #Discounts  .item_content  h1
  {
    font-size: 16px;
  }
}
/*
*
* footer
*
*/



#footer
{
  background: #2b2b2b;
  padding: 2em 0 0;
}
#footer .title {
  font-size: 1.5em !important;
}
#footer .title:after
{
  background-position: right;
}
#footer .quick-links i
{
  padding: 0.3em;
  color: #f19020;
  font-size: 1.2em;
}
#footer .quick-links a
{
  color: #777;
}
#footer .quick-links a:hover
{
  color: #d8b80b;

}
#footer .social i
{
  color: #fff;
  padding: 0 .4em
}
#footer .social i:hover
{
  color: #d8b80b;
}
#footer .bootom
{
  background: #000000;
  padding: .3em;
  color: #615f5f;
  direction: ltr;
}
/*
*
* prodect details
*
*/

#half_background
{
  background-image: url("../img/slider.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 4em;
 
  
}
#half_background .m-b-em-1 
{
  margin-bottom: 0 !important
}
#half_background .content
{
  
   padding: 8em 0 16em;

  color: #ddd;
  line-height: 2;
}
#half_background .content p
{
  line-height: 2.5
}

#content 
{
padding: 3em 0
}
#content .left_sec .item
{
  margin-top: 1.5em;
  
  border-bottom: .5px solid #dddddda3;
    padding-bottom: 1em;
}
#content .left_sec .item:last-child
{
 
  border-bottom: none
    
}
#content .left_sec .item .post a
{
  color: #4d4b4b;
}
#content .right_sec .block .item i
{
color: #d8b80b;
text-align: center
}
#content .right_sec .block  
{
  background: #f5f7f6;
  padding: 1em;
}
#content .right_sec .block .item 
{
  margin-top: 1em;
}
#content .right_sec .block .item .map
{
  text-decoration: underline;
    cursor: pointer;
}
.bottom_sec #prodect .item
{
  background: #fff;
  margin: 1em;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
 #prodect .item
{
  margin-bottom: 1em;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#prodect .item .content
{
  direction: rtl
}
#prodect .item .content .content_details
{
  margin-top: .5em
}
#prodect .item .content .content_details
{
  overflow: hidden;
  max-height: 1.4em;
}
#prodect .item .content .content_details i
{
  padding-left: .3em
}
#prodect .item .post a
{
  color: #4d4b4b;
}
#prodect .item .post .post-body
{
  padding: 0 1em 1em;
}
.post-offer
{
  top: 0;
  padding: .5em;
  background-color: #d8b80b;
  position: absolute;
  color: #000;
  right: 15px;
}
.post-offer:after {
  border-left-color: #d6487e;
}

.post-offer:after, .post-offer:after {
  display: inline-block;
    content: "";
    position: absolute;
    left: -14px;
    top: 22%;
    border: 9px solid transparent;
    border-width: 9px 7px;
    border-right-color: #d8b80b;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #d8b80b;
  border-color: #d8b80b;
}
.pagination>li>a, .pagination>li>span
{
  color: #d8b80b;
}
@media only screen and (max-width:768px) {
  #half_background .content
  {
    
     padding: 8em 0 10em;
  
    
  }
}



.product-slider #carousel {  margin: 0; }

.product-slider #thumbcarousel { margin: 12px 0 0; padding: 0 45px; }

.product-slider #thumbcarousel .item { text-align: center; }

.product-slider #thumbcarousel .item .thumb { border: 4px solid #cecece; width: 20%; margin: 0 2%; display: inline-block; vertical-align: middle; cursor: pointer; max-width: 98px; }

.product-slider #thumbcarousel .item .thumb:hover { border-color: #1089c0; }

.product-slider .item img { width: 100%; height: auto;       min-height: 3em; max-height: 3em; }
.product-slider .slider_img img { width: 100%;    min-height: 17em; max-height: 17em; }
.carousel-control { color: #0284b8; text-align: center; text-shadow: none; font-size: 30px; width: 30px; height: 30px; line-height: 20px; top: 23%; }

.carousel-control:hover, .carousel-control:focus, .carousel-control:active { color: #333; }

.carousel-caption, .carousel-control .fa { font: normal normal normal 30px/26px FontAwesome; }
.carousel-control { background-color: rgba(0, 0, 0, 0); bottom: auto; font-size: 20px; left: 0; position: absolute; top: 30%; width: auto; }

.carousel-control.right, .carousel-control.left { background-color: rgba(0, 0, 0, 0); background-image: none; }



 /*
*
* forget Pass
*
*/
#log_reg
{
  background: url('../img/slider.jpg');  background-repeat: no-repeat;background-size: cover;
  padding: 5em 0 2em 0;
  height: 100%;

}
#log_reg .subtitle a
{
  color: white;
}
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  background-color: #666561;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: #666561;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  border-width: 0px;
  background-color: #666561;
  outline: none;
  color: #ddd;
}

.input-field:focus {
  border: 1px solid dodgerblue;
}
.input-field::-webkit-input-placeholder { /* Edge */
  color: #fff;
}

.input-field:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

.input-field::placeholder {
  color: #fff;
}
.input-container select
{
  padding: 5px 13px;
}
@media only screen and (max-width:768px) {
  #log_reg .logo
  {
    width: auto;
    height: auto;
  }
}
/*
*
* add playground
*
*/
.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 18px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f304";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 160px;
    height: 160px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .7 !important;
  z-index: 1035;
  background-color: #000;
}


.form-control {
  height: 44px;
  font-size: 14px;
  color: #fff;
  background-color: #636361;
  border: 1px solid #ccc0;
  border-radius: 0;
}
#content .contact_us .form-control {
  
  color: #fff;
  background-color: #b7b7b4;
 
}

.img-Advertising img
{
  min-height: 9em;
    max-height: 9em;
    width: 100%;
}




/* Rating Star Widgets Style */
.rate
{
  cursor: pointer;
}
.rating-stars ul {
  list-style-type:none;
  padding:0;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
  
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:2.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}